#root,
nav.navigation,
html,
body,
.todo-app-container,
.desktop-nav {
  height: 100%;
}

#root,
html,
body,
.todo-app-container {
  width: 100%;
  overflow-x: hidden;
}

.todo-app-container {
  display: flex;

  @include respond(nav-swap) {
    flex-direction: column;
  }
}

.tasks-main-container {
  position: relative;
  margin: auto;

  @include respond(mobile-land) {
    width: 100%;
    height: 100%;
  }

  & .divider-container {
    display: flex;

    @include respond(mobile-land) {
      width: 100%;
      height: 49%;
      min-height: 668px;
    }
    @include respond(mobile) {
      flex-direction: column;
      align-items: center;
      height: 100%;
    }


    & > div {
      width: 300px;
      height: 400px;
      padding: 1rem;
      border: 1px solid rgba(0,0,0,0.06);

      @include respond(mobile-land) {
        width: 50%;
        height: 100%;
        min-height: 334px;
        position: relative;
      }
      @include respond(mobile) {
        width: 100%;
      }
    }

  }

  & .focus-container,
  & .goals-container,
  & .fitin-container,
  & .backburner-container {
    transition: all 0.3s ease;
    cursor: pointer;
  }

  & .focus-container-title,
  & .goals-container-title,
  & .fitin-container-title,
  & .backburner-container-title {
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #efefef;
  }

  & .focus-container-tasks-circle,
  & .goals-container-tasks-circle,
  & .fitin-container-tasks-circle,
  & .backburner-container-tasks-circle {
    position: relative;
    width: 80%;
    height: 55%;
    border-radius: 50%;
    margin: auto;
    background-color: #efefef;
    border: 1rem solid;

    @include respond(mobile) {
      width: 200px;
    }
    @include respond(tiny) {
      width: 175px;
    }
  }

  & a.btn-floating.btn-large.waves-effect.waves-light.light-blue,
  & .focus-container-tasks-circle-amount-container,
  & .goals-container-tasks-circle-amount-container,
  & .fitin-container-tasks-circle-amount-container,
  & .backburner-container-tasks-circle-amount-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .focus-container-tasks-circle-amount-container h3,
  & .goals-container-tasks-circle-amount-container h3,
  & .fitin-container-tasks-circle-amount-container h3,
  & .backburner-container-tasks-circle-amount-container h3 {
    margin: 0;
    font-size: 4rem;
  }
  & .focus-container-tasks-circle-amount-container p,
  & .goals-container-tasks-circle-amount-container p,
  & .fitin-container-tasks-circle-amount-container p,
  & .backburner-container-tasks-circle-amount-container p {
    margin: 0;
    color: #999;
  }


  & .collapsed-view, .expanded-view {
    position: absolute;
    z-index: 5;
    transition: 0.4s all ease;
  }

  & .collapsed-view {
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  & .expanded-view {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;

    @include respond(mobile-land) {
      overflow: scroll;
    }

  }

  & .focus-view {
    background-color: $focus-color;
  }

  & .goals-view {
    background-color: $goals-color;
  }

  & .fitin-view {
    background-color: $fitin-color;
  }

  & .backburner-view {
    background-color: $backburner-color;
  }


  & .focus-container {
    background-color: $focus-color;

    &:hover {
      background-color: $focus-color-faded;
    }

    & .focus-container-tasks-circle {
      border-color: $focus-color-faded;
    }

  }

  .focus-view, .fitin-view, .goals-view, .backburner-view {

    & .row .col.task-field-container {
        display: inline-block;

        & .validate {
          border-bottom: 1px solid $color-offwhite;
          color: $color-offwhite;
          box-shadow: none;

          &:focus {
            border-bottom: 1px solid $color-offwhite;
          }
        }

        & > label {
          color: $color-offwhite;
        }
    }

    & .close-task-menu {
      display: block;
      margin: 1rem auto;
      background-color: $color-offwhite;

      & .material-icons {
        color: #666;
      }

    }
  }

  & .goals-container {
    background-color: $goals-color;

    &:hover {
      background-color: $goals-color-faded;
    }

    & .goals-container-tasks-circle {
      border-color: $goals-color-faded;
    }
  }

  & .fitin-container {
    background-color: $fitin-color;

    &:hover {
      background-color: $fitin-color-faded;
    }

    & .fitin-container-tasks-circle {
      border-color: $fitin-color-faded;
    }
  }

  & .backburner-container {
    background-color: $backburner-color;

    &:hover {
      background-color: $backburner-color-faded;
    }

    & .backburner-container-tasks-circle {
      border-color: $backburner-color-faded;
    }
  }
}



.fixed-action-btn.mobile-add-task-container {
  display: none;
  z-index: 1;

  @include respond(nav-swap) {
    display: block;
  }
}

.secondary-content.task-edit-icon {
  margin-right: 1rem;
  color: $fitin-color;
}
.secondary-content.task-delete-icon {
  color: $focus-color;
}

#input-addtask:focus,
#focus-task-edit:focus,
#goals-task-edit:focus,
#fitin-task-edit:focus,
#backburner-task-edit:focus {
  box-shadow: 0 1px 0 0 $color-primary;
  border-bottom: 1px solid $color-primary;
}
#input-addtask:focus + label,
#focus-task-edit:focus + label,
#goals-task-edit:focus + label,
#fitin-task-edit:focus + label,
#backburner-task-edit:focus + label {
  color: $color-primary;
}

#input-addtask.valid:not(.browser-default),
#focus-task-edit.valid:not(.browser-default),
#goals-task-edit.valid:not(.browser-default),
#fitin-task-edit.valid:not(.browser-default),
#backburner-task-edit.valid:not(.browser-default) {
  box-shadow: 0 1px 0 0 $color-primary;
  border-bottom: 1px solid $color-primary;
}

.modal-addtask-class {

  & [type="radio"]:checked+span:before {
    background-color: $addtask-radio-lightblue;
    border-color: $addtask-radio-lightblue;
  }
  & [type="radio"]:checked+span:after {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
