$color-primary: #039be5;
$focus-color: #EF5452;
$goals-color: #03a9f4;
$fitin-color: #FCAE28;
$backburner-color: #17BBA3;

$focus-color-faded: rgba(239, 84, 82, 0.8);
$goals-color-faded: rgba(3, 169, 244, 0.8);
$fitin-color-faded: rgba(252, 174, 40, 0.8);
$backburner-color-faded: rgba(23, 187, 163, 0.8);

$addtask-radio-lightblue: rgba(3, 169, 244, 0.8);

$color-offwhite: #efefef;
